<?xml version="1.0" encoding="UTF-8"?>
<config>
  <assemblies>
    <assembly name="meca500" parent="NULL">
      <origin x="0.0" y="0.0" z="0.0"/>
      <position x="0.0" y="0.0" z="0.0"/>
      <rotation x="0.0" y="0.0" z="0.0"/>
      <color r="1.0" g="1.0" b="1.0"/>
      <motion type="none" invert="no"/>
      <home>
        <position x="0.0" y="0.0" z="0.0"/>
        <rotation x="0.0" y="0.0" z="0.0"/>
      </home>
    </assembly>
    <assembly name="base" parent="meca500">
      <origin x="0.0" y="0.0" z="0.0"/>
      <position x="0.0" y="0.0" z="0.0"/>
      <rotation x="0.0" y="0.0" z="0.0"/>
      <color r="0.8" g="0.8" b="0.8"/>
      <motion type="rotational" axis="Z" invert="no"/>
      <home>
        <position x="0.0" y="0.0" z="0.0"/>
        <rotation x="0.0" y="0.0" z="0.0"/>
      </home>
    </assembly>
    <assembly name="link1" parent="base">
      <origin x="0.0" y="0.0" z="135.0"/>
      <position x="0.0" y="0.0" z="0.0"/>
      <rotation x="0.0" y="0.0" z="0.0"/>
      <color r="0.6" g="0.6" b="0.6"/>
      <motion type="rotational" axis="Z" invert="no"/>
      <home>
        <position x="0.0" y="0.0" z="0.0"/>
        <rotation x="0.0" y="0.0" z="0.0"/>
      </home>
    </assembly>
    <assembly name="link2" parent="link1">
      <origin x="0.0" y="0.0" z="135.0"/>
      <position x="0.0" y="0.0" z="0.0"/>
      <rotation x="0.0" y="0.0" z="0.0"/>
      <color r="0.4" g="0.4" b="0.4"/>
      <motion type="rotational" axis="Z" invert="no"/>
      <home>
        <position x="0.0" y="0.0" z="0.0"/>
        <rotation x="0.0" y="-90.0" z="0.0"/>
      </home>
    </assembly>
    <assembly name="link3" parent="link2">
      <origin x="135.0" y="0.0" z="135.0"/>
      <position x="0.0" y="0.0" z="0.0"/>
      <rotation x="0.0" y="0.0" z="0.0"/>
      <color r="0.2" g="0.2" b="0.2"/>
      <motion type="rotational" axis="Y" invert="no"/>
      <home>
        <position x="0.0" y="0.0" z="0.0"/>
        <rotation x="0.0" y="0.0" z="0.0"/>
      </home>
    </assembly>
    <assembly name="link4" parent="link3">
      <origin x="173.0" y="0.0" z="50.0"/>
      <position x="0.0" y="0.0" z="0.0"/>
      <rotation x="0.0" y="0.0" z="0.0"/>
      <color r="0.2" g="0.2" b="0.2"/>
      <motion type="rotational" axis="Y" invert="no"/>
      <home>
        <position x="0.0" y="0.0" z="0.0"/>
        <rotation x="0.0" y="0.0" z="0.0"/>
      </home>
    </assembly>
    <assembly name="link5" parent="link4">
      <origin x="173.0" y="0.0" z="15.0"/>
      <position x="0.0" y="0.0" z="0.0"/>
      <rotation x="0.0" y="0.0" z="0.0"/>
      <color r="0.2" g="0.2" b="0.2"/>
      <motion type="rotational" axis="Z" invert="no"/>
      <home>
        <position x="0.0" y="0.0" z="0.0"/>
        <rotation x="0.0" y="0.0" z="0.0"/>
      </home>
    </assembly>
    <assembly name="link6" parent="link5">
      <origin x="173.0" y="0.0" z="-55.0"/>
      <position x="0.0" y="0.0" z="0.0"/>
      <rotation x="0.0" y="0.0" z="0.0"/>
      <color r="0.2" g="0.2" b="0.2"/>
      <motion type="rotational" axis="Z" invert="no"/>
      <home>
        <position x="0.0" y="0.0" z="0.0"/>
        <rotation x="0.0" y="0.0" z="0.0"/>
      </home>
    </assembly>
  </assemblies>

  <actors>
    <actor name="base_part" assembly="base" stlFile="base.stl">
      <color r="0.8" g="0.8" b="0.8"/>
    </actor>
    <actor name="link1_part" assembly="link1" stlFile="link1.stl">
      <color r="0.6" g="0.6" b="0.6"/>
    </actor>
    <actor name="link2_part" assembly="link2" stlFile="link2.stl">
      <color r="0.4" g="0.4" b="0.4"/>
    </actor>
    <actor name="link3_part" assembly="link3" stlFile="link3.stl">
      <color r="0.6" g="0.6" b="0.6"/>
    </actor>
    <actor name="link4_part" assembly="link4" stlFile="link4.stl">
      <color r="0.8" g="0.8" b="0.8"/>
    </actor>
    <actor name="link5_part" assembly="link5" stlFile="link5.stl">
      <color r="0.6" g="0.6" b="0.6"/>
    </actor>
    <actor name="link6_part" assembly="link6" stlFile="link6.stl">
      <color r="0.4" g="0.4" b="0.4"/>
    </actor>
  </actors>

  <lights>
    <light id="GL_LIGHT0" x="200" y="1000" z="1000.0">
      <ambient r="0" g="0" b="0"/>
      <diffuse r="1" g="1" b="1"/>
      <specular r="1" g="1" b="1"/>
    </light>
    <light id="GL_LIGHT1" x="200" y="-1000" z="1000.0">
      <ambient r="0" g="0" b="0"/>
      <diffuse r="1" g="1" b="1"/>
      <specular r="1" g="1" b="1"/>
    </light>
  </lights>
</config>